.sidebar {
    width: 240px;
    height: 100vh;
    background: linear-gradient(180deg,#5b54d6,#4b43c7);
    color: white;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 15px;
}

.logo-icon {
    background: #ff7a59;
    padding: 6px 10px;
    border-radius: 8px;
}


.menu {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.menu-title {
    font-size: 12px;
    opacity: 0.7;
    margin: 15px 10px 5px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 18px;
    border-radius: 10px;
    color: #e6e6ff;
    text-decoration: none;
    transition: 0.2s;
}


    .menu-item:hover {
        background: rgba(255,255,255,0.1);
    }


    .menu-item.active {
        background: white;
        color: #4b43c7;
        font-weight: 600;
    }

    .nav-text {
        color: black;
    }